body {
  background-color: #DFF3E3;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-family: 'Birthstone', cursive;
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}


.main-container {
  margin: 50px 12%;
  background-color: #ffffff;
  border-radius: 25px;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.text-section {
  margin: 6%;
}

.my-img {
  margin: 4%;
  width: 100%;
  content: url(images/ikonka_me.png);
}
.my-img:hover {
  content: url(images/ikonka_me_tmava.png);
}

.my-anchor {
  color: #000000;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  padding: 10px;
  transition: 1s;
  transition: color 0.5s ease-in, background-color 1s ease-in;
}

.my-anchor:hover {
  background-color: #A3D2CA;
  color: #ffffff;
}

li {
  position: relative;
}

li::after {
  content:'';
  position: absolute;
  background-color: #A3D2CA;
  width: 0%;
  height: 3px;
  bottom: 0;
  left:0;
  transition: width 2s;
}

li:hover::after{
  width: 70%;
}

@media (max-width: 1024px) {
  .main-container {
    margin: 20px 5% 10px;
}

.my-img {
  margin: 0;
}

.text-section {
  width: 80%;
  margin: 0 10% 10%;
  text-align: center;
}

body {
  font-size: 3rem;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}

}
